<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Data</title>
</head>
<body>
    <h1>All Data</h1>
    <ul>
        {% for item in data %}
            <li>
                <strong>Title:</strong> {{ item.title }}<br>
                <strong>Description:</strong> {{ item.description }}<br>
                <strong>Links:</strong> {{ item.links }}<br>
                <!-- Display image -->
                {% if item.documents %}
                    <strong>Image:</strong> <img src="data:image/jpeg;base64,{{ item.documents }}" alt="Image"><br>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
</body>
</html>
